<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="com.obsquara.serviceapp.Listeners"/>
	</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome">
 	<classes>
    <class name="com.obsquara.testscript.HomeTest">
  		<methods>
      		<include name="verifyQuickSmsFieldIsBelowQuickEmail"></include>
    	</methods>  
    </class>
    <!-- <class name="com.obsquara.testscript.LoginTest"></class>
    <class name="com.obsquara.testscript.ReparationTest"></class> 
    <class name="com.obsquara.testscript.ClientTest"></class>
    <class name="com.obsquara.testscript.QuickEmailTest"></class>
    <class name="com.obsquara.testscript.QuickSMSTest"></class> 
    <class name="com.obsquara.testscript.InventoryTest"></class>-->
   	
  	</classes>
    </parameter>
  </test> <!-- Test -->

</suite> <!-- Suite -->
